<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <p> This site was created by Nico. It uses data from mapbox.com and darksky.net</p>
        {{>footer}}
    </body>
</html>